#searchInput {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.delete-btn {
    background-color: #ff4e4e;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.delete-btn:hover {
    background-color: #d93636;
}
