body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
    background: var(--bg);
    color: var(--text);
}

:root {
    --bg: #f2f6ff;
    --card: #ffffff;
    --text: #222;
    --accent: #4a7bff;
}

.dark-mode {
    --bg: #1d1d1d;
    --card: #2a2a2a;
    --text: #ededed;
    --accent: #6e9bff;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.container {
    width: 90%;
    margin: auto;
}

.controls-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

button, select, input {
    border-radius: 6px;
    border: 1px solid #ccc;
    height: 41.6px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 15px;
}

.user-card {
    background: var(--card);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.user-card:hover {
    transform: translateY(-4px);
}

.user-card button {
    width: 100%;
    background: #ff4e4e;
    color: white;
    margin-top: 10px;
    border: none;
}

.loader {
    width: 50px;
    height: 50px;
    border: 6px solid #ddd;
    border-top-color: var(--accent);
    border-radius: 50%;
    margin: 20px auto;
    animation: spin 1s infinite linear;
}
.hidden {
    display: none;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.details-panel {
    position: fixed;
    top: 0;
    right: -400px;
    width: 350px;
    height: 100vh;
    background: var(--card);
    color: var(--text);
    padding: 20px;
    transition: 0.4s;
    box-shadow: -3px 0 10px rgba(0,0,0,0.2);
}
.details-panel.show {
    right: 0;
}

.details-panel input {
    width: 100%;
    margin: 10px 0;
}

#closePanel {
    float: right;
    background: transparent;
    font-size: 20px;
    border: none;
}
.delete-by-id {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#deleteIdInput {
    flex: 1;
    border-radius: 8px;
    border: 1px solid #ccc;;
}

#deleteByIdBtn {
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #ff3333;
    color: white;
    border: none;
    cursor: pointer;
}

